	<p>This page is here</p>
	<% post.forEach(function (post){ %>
	<div class= "post"
		<h3> 
			<a href="/<%= post._id %>"><%=post.title%></a> 
		</h3>
		<p><%= post.content %></p>
		<p><%= post.genre %></p>
		<p><%= post.votes %></p>
	</div>
	<% }) %>