  <h1> Popular </h1>
  <table class="table table-striped">
    <thead>
    <tr>
        <th>Title</th>
        <th>Content</th>
        <th>Genre</th>
        <th>Votes</th>
      </tr>
<% post.forEach(function (post){ %>
      <tr>
        <td><a href="/posts/<%= post._id %>"><%=post.title%></a></td>
        <td><%= post.content %></td>
        <td><%= post.genre %></td>
        <td><%= post.votes %></td>
      </tr>
<% }) %>
    </thead>