<div class="jumbotron">
  <h2><%=post.title%></h2>
  <h5>Author: <%=post.author || "Anonymous"%></h5>
  <p>   <%= post.content %></p>
  <h5>Votes: <%= post.votes %></h5>
    <div class="all-the-things">

        <form class="magic +1" method="post" action="/posts/vote/<%=post._id%>?_method=PATCH" >
            <input  type="submit" value="+1" class="btn btn-default" >
        </form>

        <% if (currentUser === post.author){%>
        <form class="magic delete-button" method="post" action="/posts/delete/<%=post._id%>?_method=DELETE" >
            <input  type="submit" class="btn btn-default" value="Delete" >
        </form>
        
        <form class="magic">
        <a href= "/posts/edit/<%=post._id%>" class="btn btn-default">Edit</a>
        </form>  
        <%}%>
    </div>
</div>
    
        

<form action="/posts/comment/<%=post._id%>?_method=PATCH" method='post'>
    <textarea class="form-control" rows="3" id='comment' name='post[comment][]' placeholder="comment"></textarea>
    <input type="submit" class="btn btn-default">
</form>
        
<table class="table table-striped">
    <thead>
    <tr>
        <th>User</th>
        <th>Comment</th>
    </tr>
<% post.comments.forEach(function (comment){ %>
    <tr>
        <td><%= comment.author || "Anonymous" %></td>
        <td><%= comment.comment %></td>
      </tr>
<% }) %>
    </thead>